body {
  font-family: Helvetica, Arial, sans-serif;
} 

h1 {
  text-align: center;
}

.col-1-8 {
  float: left;
  width: (100%/8);
  font-size: .75em; 
  text-align: center;
  padding: 10px;
}

.lightbox_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 35%;
    height: 50%;
    border: 5px solid red;
    background-color: black;
    color: rgba(255, 229, 82, 1);;
    text-align: center;
    z-index:1002;
    overflow: auto;
}